<tr>
	<td>{{this.rank}}</td>
	<td>{{this.artist}}</td>
	<td>{{this.song}}</td>
	<td>{{this.album}}</td>
	<td>{{this.year}}</td>

	<td><button class="addToPlaylist btn btn-warning" data-rank="{{rank}}" data-everything="{{json this}}">Add</button></td>

</tr>